body{
  margin: 0;
  text-align: center;
}
.footer-link{
  position: relative;
  margin-top: 0;
  top: 10px;
}
h1{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 70px;
  color: #3d84a8;
  margin-top: 0;
  width: 200px;
  margin: 0 auto 0 auto;
}
#header2{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 60px;
  color: #3d84a8;
  margin-top: 100px;
  width: 400px;
}
h2{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 60px;
  color: #3d84a8;
  position: relative;
  margin-top: 80px;
  width: 200px;
  margin: 0 auto 0 auto;
  top: 150px;
}
#header3{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 30px;
  color: #3d84a8;
  position: relative;
  margin-top: 50px;
  width: 400px;
  margin: 0 auto 0 auto;
  top: 50px;
}
#header4{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 30px;
  color: #3d84a8;
  position: relative;
  margin-top: 50px;
  width: 400px;
  margin: 0 auto 0 auto;
  top: 50px;
}
#header5{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 60px;
  color: #3d84a8;
  position: relative;
  margin-top: 100px;
  width: 400px;
  margin: 0 auto 0 auto;
  top: 50px;
}
#header6{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 30px;
  color: #3d84a8;
  position: relative;
  margin-top: 50px;
  width: 600px;
  margin: 0 auto 0 auto;
  top: 50px;
}
#p1{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 20px;
  color: #3d84a8;
}
#p2{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 20px;
  color: #3d84a8;
  margin-top: 200px;
  top: 100px;
}
#p3{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 20px;
  color: #3d84a8;
  margin-top: 80px;
  top: 100px;
}
#p4{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 20px;
  color: #3d84a8;
  margin-top: 70px;
  top: 50px;
}
#p5{
  font-family: 'Dancing Script', cursive;
  font-variant: normal;
  font-size: 20px;
  color: #3d84a8;
  margin-top: 70px;
  top: 50px;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #bbded6;
  border-width: 3px;
  width: 3%;
  margin-top: 100px;
}
.topDiv{
  background-color: #ffe8df;
  position: relative;
  height: 100px;
}
#aboutB{
  border: 0;
  background-color: #ffe8df;
  border-radius: 10px;
  color: #363062;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-variant: small-caps;
  height: 25px;
  width: 70px;
  top: 70px;
  position: absolute;
  right: 500px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#aboutB:hover {
    background-color: #c3bef0;
}
#aboutB:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#workB{
  border: 0;
  background-color: #ffe8df;
  border-radius: 10px;
  color: #363062;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-variant: small-caps;
  height: 25px;
  width: 70px;
  top: 70px;
  position: absolute;
  right: 380px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#workB:hover {
    background-color: #c3bef0;
}
#workB:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
#noteB{
  border: 0;
  background-color: #ffe8df;
  border-radius: 10px;
  color: #363062;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-variant: small-caps;
  height: 25px;
  width: 70px;
  top: 70px;
  position: absolute;
  right: 260px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
#noteB:hover {
    background-color: #c3bef0;
}
#noteB:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.messageB{
  background-color: #ffe8df;
  border-radius: 10px;
  color: #363062;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-variant: small-caps;
  font-family:  sans-serif;
  padding: 10px 10px 10px 10px;
  font-variant: small-caps;
  font-style: normal;
  height: 50px;
  width: 200px;
  margin-top: 80px;
  top: 80px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.messageB:hover {
    background-color: green;
}
.messageB:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.midDiv{
  background-color: #ffe8df;
  height: 2200px;
  position: relative;
  margin-top: 0;
  padding-top: 50px;
}
.bottomDiv{
  background-color: #e4f9ff;
  height: 100px;
  margin-top: 0px;
}
.img4{
  position: fixed;
  padding-left: 5px;
  height: 200px;
  width: 200px;
  visibility: hidden;
  margin-top: 5px;
  padding-top: 5px;
}
.myImage{
padding-left: 10px;
position: relative;
height: 150px;
width: 150px;
top:50px;
}
.img1{
  padding-left: 450px;
  padding-top: 5px;
  margin-top: 0;
}
.img2{
  position: absolute;
  padding-left: 10px;
}
#copyrights{
  font-family: serif;
  position: relative;
  color: grey;
  margin-top: 20px;
  top: 20px;
}
